@font-face {
  font-family: "Lato_bold";
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg#Lato-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato_900";
  src: url("../fonts/Lato-Black.eot");
  src: url("../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.svg#Lato-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato_900_italic";
  src: url("../fonts/Lato-BlackItalic.eot");
  src: url("../fonts/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-BlackItalic.woff2") format("woff2"), url("../fonts/Lato-BlackItalic.woff") format("woff"), url("../fonts/Lato-BlackItalic.ttf") format("truetype"), url("../fonts/Lato-BlackItalic.svg#Lato-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato_300";
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg#Lato-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato_bold_italic";
  src: url("../fonts/Lato-BoldItalic.eot");
  src: url("../fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/Lato-BoldItalic.woff") format("woff"), url("../fonts/Lato-BoldItalic.ttf") format("truetype"), url("../fonts/Lato-BoldItalic.svg#Lato-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato_300_italic";
  src: url("../fonts/Lato-LightItalic.eot");
  src: url("../fonts/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-LightItalic.woff2") format("woff2"), url("../fonts/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato-LightItalic.ttf") format("truetype"), url("../fonts/Lato-LightItalic.svg#Lato-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato_italic";
  src: url("../fonts/Lato-Italic.eot");
  src: url("../fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.ttf") format("truetype"), url("../fonts/Lato-Italic.svg#Lato-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato_Hairline_300";
  src: url("../fonts/Lato-Hairline.eot");
  src: url("../fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Hairline.woff2") format("woff2"), url("../fonts/Lato-Hairline.woff") format("woff"), url("../fonts/Lato-Hairline.ttf") format("truetype"), url("../fonts/Lato-Hairline.svg#Lato-Hairline") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato_Hairline_300_italic";
  src: url("../fonts/Lato-HairlineItalic.eot");
  src: url("../fonts/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-HairlineItalic.woff2") format("woff2"), url("../fonts/Lato-HairlineItalic.woff") format("woff"), url("../fonts/Lato-HairlineItalic.ttf") format("truetype"), url("../fonts/Lato-HairlineItalic.svg#Lato-HairlineItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue_LT_67_500";
  src: url("../fonts/HelveticaNeueLT-MediumCond.eot");
  src: url("../fonts/HelveticaNeueLT-MediumCond.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLT-MediumCond.woff2") format("woff2"), url("../fonts/HelveticaNeueLT-MediumCond.woff") format("woff"), url("../fonts/HelveticaNeueLT-MediumCond.ttf") format("truetype"), url("../fonts/HelveticaNeueLT-MediumCond.svg#HelveticaNeueLT-MediumCond") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
}

.fullWidth {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.containerIs {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato_bold", sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.customBtn {
  background-color: #3C8025;
  border: 0;
  border-radius: 25px;
  padding: 10px 100px;
  color: #fff;
  margin-top: 60px;
  cursor: pointer;
  position: relative;
}
.customBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='375.406px' height='59.953px' viewBox='0 0 375.406 59.953' enable-background='new 0 0 375.406 59.953' xml:space='preserve'%3E%3Cpath opacity='0.2' fill='%23FFFFFF' d='M375.406,0L0,59.953h375.406V0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom left;
}

#content {
  width: 100%;
  position: relative;
}
@media (max-width: 650px) {
  #content {
    padding-top: 50px;
  }
}
#content #sidebarCollapse .burgerIcon,
#content #sidebarCollapse .crossIcon {
  max-width: 36px;
  max-height: 36px;
  position: absolute;
  top: 15px;
  left: 15px;
  visibility: hidden;
}
#content #sidebarCollapse .burgerIcon.active,
#content #sidebarCollapse .crossIcon.active {
  visibility: visible;
}

:root {
  --sb_bg:#5284e9;
  /* Sidebar Background */
  --sb_gradient_bg: linear-gradient(141deg, $defaultColor 0%, darken($defaultColor, 50%), darken($defaultColor, 75%));
  /* Sidebar Background */
  --sb_color:#b6c7e9;
  /* Sidebar Color */
  --sb_H_bg:#2057c6;
  /* Sidebar Header Background */
  --sb_sH_bg:#666;
  /* Sidebar Sub Heading Background */
  --nb_bg:#666;
  /* Navbar Background */
  --nb_color:#9cb7ec;
  /* Navbar Sub Heading Background */
}

.navbar {
  padding: 7px 10px;
  background: var(--nb_bg);
  background-image: linear-gradient(90deg, #fff, var(--nb_bg));
  border: none;
  border-radius: 0;
  margin-bottom: 15px;
}
.navbar ul > li > a {
  text-decoration: none;
  color: var(--nb_color);
}
.navbar .navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: var(--sb_bg);
  color: #fff;
  transition: all 0.5s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: bottom left;
  box-shadow: 3px 0 10px #A6A6A6;
  background-image: linear-gradient(141deg, #3C8025, #29581a, #17310e);
  height: 100vh;
}
#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}
#sidebar h4 {
  text-align: center;
}
#sidebar .headerIs {
  padding: 20px;
}
#sidebar .headerIs .logoUpload {
  border-radius: 999px;
  border: 2px solid #dfdfdf;
  width: 48px;
  height: 48px;
  object-fit: cover;
  background-color: #fff;
}
#sidebar > ul {
  padding-left: 20px;
}
#sidebar ul.components {
  padding: 20px 0;
}
#sidebar ul li.active > a {
  color: #fff;
  background: #6d7fcc;
}
#sidebar ul li a {
  padding: 5px;
  display: block;
  color: var(--sb_color);
}
#sidebar ul li a::hover {
  color: var(--sb_bg);
  background-color: var(--sb_color);
}
