@import 'components/global';
@import 'components/grid';
@import 'components/queries';
@import 'components/mixins';
@import 'components/colors';
@import 'components/buttons';


.bold {
  font-weight: bold;
  color: #5FA01B;
}
.fullWidthWrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  @include media ( 600px ) {
    display: block;
  }
  .imgPart {
    width: 100%;
    max-width: 50%;
    display: flex;
    text-align: center;
    @include media ( 600px ) {
      max-width: 100%;
    }
    img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      align-self: center;
    }
  }
  .loginPart {
    width: 100%;
    max-width: 50%;
    align-self: center;
    text-align: center;
    @include media ( 600px ) {
      max-width: 100%;
    }
    .loginBlock {
      margin: 0 auto;
      max-width: 420px;
      padding: 20px;
      .head{
        margin: 0 auto;
        font-size: 36px;
      }
      .role{
        margin: 0 auto;
        font-size: 18px;
        color: #4D4F5C;
      }
      .footer_ .loginBtn {
        background: #5FA01B;
        border: 0;
        border-radius: 25px;
        padding: 10px 100px;
        font-size: 15px;
        color: #fff;
        font-family: 'Poppins-semibold', sans-serif;
        margin-top: 60px;
        cursor: pointer;
      }
    }
    .body_ {
      margin-top: 50px;
      .input {
        border: 0;
        border-bottom: 2px solid #E9E9F0;
        width: 100%;
        font-size: 15px;
        padding: 5px 3px;
        margin-bottom: 44px;
        color: #43425D;
        outline: none;
      }
      .options {
        display: flex;
        flex-wrap: wrap;
        label[for="rememberMe"] {
          width: 100%;
          max-width: 50%;
          text-align: left;
          position: relative;
          font-size: 14px;
          &::before {
            content: "";
            position: absolute;
            border: 2px solid #43425D;
            border-radius: 3px;
            width: 18px;
            height: 18px;
          }
          input#rememberMe {
            display: none;
          }
          .text {
            margin-left: 26px;
            display: inline-block;
          }
          input#rememberMe:checked + .checkUncheck {
            display: inline-block;
          }
          .checkUncheck {
            background-image: url("data:image/svg+xml,%3Csvg height='100%25' viewBox='0 0 64 64' width='100%25' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle/%3E%3Cdesc/%3E%3Cg fill='none' fill-rule='evenodd' id='Tick' stroke='none' stroke-width='1'%3E%3Cg fill='%23000000' id='Group' transform='translate(9.000000, 13.000000)'%3E%3Cpath d='M12.5900974,34.4099026 C13.5664082,35.3862133 15.1493206,35.3862133 16.1256313,34.4099026 L44.4099026,6.12563133 C45.3862133,5.1493206 45.3862133,3.56640815 44.4099026,2.59009742 C43.4335918,1.61378669 41.8506794,1.61378669 40.8743687,2.59009742 L12.5900974,30.8743687 C11.6137867,31.8506794 11.6137867,33.4335918 12.5900974,34.4099026 Z' id='Rectangle'/%3E%3Cpath d='M1.42893219,19.9289322 C2.40524292,18.9526215 3.98815536,18.9526215 4.96446609,19.9289322 L15.5710678,30.5355339 C16.5473785,31.5118446 16.5473785,33.0947571 15.5710678,34.0710678 C14.5947571,35.0473785 13.0118446,35.0473785 12.0355339,34.0710678 L1.42893219,23.4644661 C0.452621459,22.4881554 0.452621459,20.9052429 1.42893219,19.9289322 Z' id='Rectangle'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            width: 18px;
            height: 16px;
            content: "";
            display: none;
            position: absolute;
            top: 1px;
            left: 1px;
          }
        }
        .forgot {
          margin-left: auto;
          text-decoration: none;
          color: #43425D;
        }
      }
    }
  }
  .footerText {
    font-family: $font_Lato;
    font-size: 12px;
    position: absolute;
    bottom: 8px;
    left: 75%;
    transform: translate(-50%, -25%);
    @include media ( 600px ) {
      position: relative;
      bottom: unset;
      left: unset;
      transform: unset;
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;
    }
  }
}





